gestionWeb/Web References/coordinadorAzure/coordinadorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="comprobarMediaAsignatura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comprobarMediaAsignaturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="comprobarMediaAsignaturaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="comprobarMediaAsignaturaSoapIn">
    <wsdl:part name="parameters" element="tns:comprobarMediaAsignatura" />
  </wsdl:message>
  <wsdl:message name="comprobarMediaAsignaturaSoapOut">
    <wsdl:part name="parameters" element="tns:comprobarMediaAsignaturaResponse" />
  </wsdl:message>
  <wsdl:portType name="coordinadorServiceSoap">
    <wsdl:operation name="comprobarMediaAsignatura">
      <wsdl:input message="tns:comprobarMediaAsignaturaSoapIn" />
      <wsdl:output message="tns:comprobarMediaAsignaturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="coordinadorServiceSoap" type="tns:coordinadorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comprobarMediaAsignatura">
      <soap:operation soapAction="http://tempuri.org/comprobarMediaAsignatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="coordinadorServiceSoap12" type="tns:coordinadorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="comprobarMediaAsignatura">
      <soap12:operation soapAction="http://tempuri.org/comprobarMediaAsignatura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="coordinadorService">
    <wsdl:port name="coordinadorServiceSoap" binding="tns:coordinadorServiceSoap">
      <soap:address location="https://coordinadorhads13.azurewebsites.net/coordinadorService.asmx" />
    </wsdl:port>
    <wsdl:port name="coordinadorServiceSoap12" binding="tns:coordinadorServiceSoap12">
      <soap12:address location="https://coordinadorhads13.azurewebsites.net/coordinadorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>